<!-- Footer -->
<footer class="footer mt-auto py-3" style="background-color: #D7000F;">
  <div class="container">
    <%= link_to 'お問い合わせ', "#", class: 'me-3', style: 'color: #fff;' %>
    <%= link_to '利用規約', "#", class: 'me-3', style: 'color: #fff;' %>
    <%= link_to 'プライバシーポリシー', "#", style: 'color: #fff;' %>
  </div>
</footer>