<!-- Main Content -->
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <%= render 'shared/search_form', q: @q, url: posts_path %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center">
      <h1>「飯テロ(めしテロ)」</h1>
      <p>
        それは「第三者の食欲を刺激して苛ませる行為」という意味で用いられる俗な表現である。
      </p>
      <br>
      <br>
      <h4>
        ここは食欲が食欲を呼ぶ飯テロ"三穀時代"。飯テロすることだけを目的とした世界。<br>
        「米」「麺」「パン」の3つの炭水化物。投稿できるジャンルは1つだけ。<br>
        選んだ炭水化物の飯テロであなたもこの「三穀志」の歴史の新たな1ページを作ろう。
      </h4>
      <br>
      <br>
      <% unless logged_in? %>
        <%= link_to '会員登録はこちら', new_user_path, class: 'btn btn-primary btn-lg mb-3' %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col text-center">
      <h2>投稿一覧</h2>
      <br>
      <br>
      <% if @top_faction.present? %>
        <h1>今週の飯テロ数: 「<%= @top_faction %>」が優勢！</h1>
        <p>毎週月曜日に更新</p>
      <% end %>
      <br>
      <!-- 投稿一覧の内容はここに追加されます -->
      <% if @posts.present? %>
        <div class="row">
          <% @posts.each do |post| %>
            <%= render 'posts/post', post: post %>
          <% end %>
        </div>
      <% else %>
        <div class="mb-3">投稿がありません</div>
      <% end %>
    </div>
  </div>
</div>
