<div class="container">
  <h1>飯テロマニュアル 〜上手に飯テロをする方法〜</h1>
  <p>
  ここでは上手な飯テロ投稿するためのポイントを4つ紹介します。<br>
  ※本サービス上での「上手な飯テロ」の定義は"投稿を見た人の食欲や空腹感を刺激するインパクトの強い投稿"を指します。
  </p>
  <br>

  <h2>1. 光の使い方</h2>
  <p>
  自然光は食材の色を鮮やかに見せ陰影を柔らかくします。撮影場所を選べる状況では窓際で撮影することをオススメします。<br>
  そして光の当たり方は「半逆光 + 斜め45度」、つまり食材に対して後方斜め45度から光が差し込んでいる状態が一番よいとされています。
  </p>
  <%= image_tag "sandwich.jpeg", alt: "自然光を使った写真" %>
  <br>
  <br>
  <h2>2. アングル</h2>
  <p>
  アングルは席に座っている目線の高さ(斜め45度)を基準にそれより高い位置の「ハイアングル」と低い位置の「ローアングル」があります。<br>
  素材の良さを伝えたい場合は「ローアングル + 接写(ズーム)」で撮ることをオススメします。また接写する際、必ずしも画角に料理の全体が写る必要はありません。
  </p>
  <%= image_tag "curry_pan.jpeg", alt: "ローアングル+接写の写真" %>
  <br>
  <br>
  <h2>3. 構図</h2>
  <p>
  写真の構図としては被写体を画面の中心に置いた「日の丸構図」や被写体を画面の対角線に配置する「対角線構図」などがあります。<br>
  飯テロにおいて推奨する構図は「対角線構図」です。日の丸構図に比べて躍動感が出ます。
  </p>
  <%= image_tag "sushi_moriawase.jpeg", alt: "対角線構図の写真" %>
  <br>
  <br>
  <h2>4. シズル感</h2>
  <p>
  「シズル感」とは、食品広告における視覚的魅力を指す用語です。シズル感は食欲や美味しさ、新鮮さに関連する強い肯定的な感情を刺激します。<br>
  お肉のジューシーさやチーズのとろける様子、熱い料理から出る湯気やタレやドレッシングなどの照りや質感など様々な要素によって増幅されます。
  </p>
  <%= image_tag "yakisoba.jpeg", alt: "シズル感の強い写真" %>
  <br>
  <br>
</div>
