<div class="container pt-3">
  <div class="row">
    <div class="col text-center">
      <div class="col-12">
        <% if params[:q].present? %>
          <% search_terms = params[:q].values.select(&:present?).join(", ") %>
          <h2>"<%= search_terms %>" の検索結果</h2>
        <% end %>
        <br>
        <div class="row">
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <%= render @posts %>
            <% end %>
          <% else %>
            <div class="mb-3">投稿がありません</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
