<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <h1><%= t('.title') %></h1>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @liked_posts.present? %>
          <%= render @liked_posts %>
        <% else %>
          <p>ブックマークはありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
