<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
    <br>
      <h1><%= t('.title') %></h1>
      <p>「飯テロってどうやるの？」という方は下記マニュアルをチェック！</p>
      <%= link_to '飯テロマニュアルを読む', manual_path, class: 'btn btn-danger btn-lg mb-3' %>
      <br>
      <br>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>