/* 背景画像をスライドさせるアニメーションの定義 */
@keyframes backgroundSlide {
    0% { background-image: url('ra-men_top_page.jpg'); }
    33% { background-image: url('ra-men_top_page.jpg'); }
    34% { background-image: url('sushi_top_page.jpg'); }
    66% { background-image: url('sushi_top_page.jpg'); }
    67% { background-image: url('melon_pan_top_page.jpg'); }
    100% { background-image: url('melon_pan_top_page.jpg'); }
  }
  
  /* アニメーションを適用するためのスタイル */
  .background-slider {
    height: 70vh; /* 画面全体の高さ */
    width: 100%; /* 画面全体の幅 */
    background-size: cover;
    background-position: center;
    animation: backgroundSlide 30s infinite;
  }

  /* 追加のスタイル（必要に応じて） */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  body {
    background-color: #fff;
  }
  .navbar, .footer {
    background-color: #D7000F; /* 朱色 */
  }
  .navbar a, .footer a {
    color: #fff !important;
  }
  .footer {
    padding: 1rem 0;
    text-align: center;
  }

  .top-wrapper {
    background-image: url("top.jpg");
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
  
    .top-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: white;
  
      @media screen and (max-width: 767px) {
        font-size: 2.0rem;
      }
    }
  }